@font-face {
  font-family: FivoSans;
  font-weight: bold;
  src: url("./resources/fonts/FivoSans/FivoSans-Black.otf") format("opentype");
}
@font-face {
  font-family: FivoSans;
  font-weight: light;
  src: url("./resources/fonts/FivoSans/FivoSans-Light.otf") format("opentype");
}
@font-face {
  font-family: Gandhi;
  src: url("./resources/fonts/GandhiSans/GandhiSans-Regular.otf")
    format("opentype");
}

:root {
  --c-primary: #0a3fa5;
  --c-secondary: #1a3668;
  --c-tertiary: #dc1c2e;
  --c-f-navc: #003da5;
  --c-f-subtitle: #7a7a7a;
  --c-f-form: #b9d0ea;
  --b-primary: #ffffff;
  --b-secondary: #f5f5f5;
  --b-tertiary: #f4f8fd;
  --b-quaternary: #e9eaee;
  --f-text: "Gandhi";
  --f-title: "FivoSans";
  --b-s-card: 5px 5px 16px 0px rgba(0, 0, 0, 0.4);
}
:nth-child(1) {
  --nth-child: 0;
}
:nth-child(2) {
  --nth-child: 1;
}
:nth-child(3) {
  --nth-child: 2;
}
:nth-child(4) {
  --nth-child: 3;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--b-primary);
  font-family: var(--f-text);
}
/* *GENERAL STYLES */
.c-primary {
  color: var(--c-f-navc);
}
.c-secondary {
  color: var(--c-secondary);
}
.principal-title {
  display: block;
  margin-bottom: -0.3em;
  font-size: 6em;
  font-family: var(--f-title);
  font-weight: bold;
  line-height: 1em;
}
.principal-title span {
  display: block;
}
.title-container-dash,
.title-container-subline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-container-dash span,
.title-container-subline span {
  color: var(--c-primary);
  font-size: xx-small;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -4px;
  margin: -0.1em 0.3em 0 0;
}
.title-container-subline {
  flex-direction: column;
  width: fit-content;
  margin: auto;
}
.title-container-subline h1 {
  display: block;
  margin: 18% 0 -0.5em;
}
.title-container-subline span {
  color: var(--c-tertiary);
  display: block;
  margin: 0;
}
h1.title,
h2.title {
  text-transform: uppercase;
  color: var(--c-f-navc);
  font-weight: lighter;
}
h1.title {
  font-size: 2.5rem;
}
h2.title {
  font-size: 1.4rem;
}

p.text {
  color: var(--c-f-subtitle);
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.bg-c-primary {
  background-color: var(--c-primary);
}
.bg-c-tertiary {
  background-color: var(--c-tertiary);
}
.bg-c-primary h1,
.bg-c-primary h2,
.bg-c-tertiary h1,
.bg-c-tertiary h2 {
  color: var(--b-primary) !important;
}
/* *----------------- */

/* *SLIDESHOW */
/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 330px;
}
.slideshow-container.articles {
  max-width: 100%;
  height: 590px;
}

.mySlides {
  position: relative;
  display: none;
  height: 330px;
}
.mySlidesA {
  position: relative;
  display: none;
  height: 580px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(153, 12, 12);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
.prev {
  left: 5%;
}
/* Position the "next button" to the right */
.next {
  right: 5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: whitesmoke;
}
.prev:active svg,
.next:active svg {
  transition: 0.2s;
  transform: scale(0.9);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* The dots/bullets/indicators */
.dotA {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--b-primary);
  border-radius: 50%;
  border: 1px solid var(--c-primary);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dotA:hover {
  background-color: var(--c-tertiary);
  border: 1px solid var(--c-tertiary);
  height: 18px;
  width: 18px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* *----------------- */

/* *NAV SECTION */
nav {
  z-index: 100;
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  width: auto;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: var(--b-primary);
  box-shadow: 0px 3px 26px 5px rgba(56, 56, 56, 0.1);
  animation: init-nav 0.5s ease-in-out 0.4s forwards;
}
nav .logo {
  height: 70%;
  width: auto;
  object-fit: cover;
  object-position: center;
}
.nav-options {
  position: relative;
  width: auto;
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-options a {
  text-transform: uppercase;
  color: var(--c-f-navc);
  font-size: 1em;
  font-weight: bolder;
  text-decoration: none;
  margin: 0 3%;
}
.nav-options a.selected {
  color: var(--c-tertiary);
  border-bottom: 3px solid var(--c-tertiary);
  padding: 0 0.4%;
}
.nav-options-m {
  display: none;
}
@keyframes init-nav {
  0% {
    opacity: 0;
    top: -120px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
/* *----------------- */

/* *PRIMARY-SECTION */
.primary-section {
  overflow: hidden;
  margin-top: 130px;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--b-primary);
}
.img-container {
  position: relative;
}
.img-container img {
  position: absolute;
  bottom: 0;
  right: 400px;
  opacity: 0;
  height: 90vh;
  width: auto;
  object-fit: contain;
  animation: init 0.5s ease-in-out calc(var(--nth-child) * 0.2s) forwards;
}
.subtitle {
  color: var(--c-f-subtitle);
  font-weight: lighter;
}
.logos-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0 0 4em;
}
.viviana-logo {
  width: 400px;
  height: auto;
  object-fit: cover;
}
.remax-logo {
  width: 250px;
  height: auto;
  object-fit: cover;
}
.t-a-init {
  opacity: 0;
  animation: init-text 0.5s ease-in-out calc(var(--nth-child) * 0.3s) forwards;
}
.t-a-init2 {
  opacity: 0;
  animation: init-text 0.5s ease-in-out 0.6s forwards;
}
.l-a-init {
  opacity: 0;
  animation: init-logo 0.5s ease-in-out 0.6s forwards;
}
@keyframes init {
  0% {
    opacity: 0;
    right: 0px;
  }
  100% {
    opacity: 1;
    right: -80px;
  }
}
@keyframes init-text {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes init-logo {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* *----------------- */

/* *ABOUT ME SECTION*/
.about-me-section {
  min-height: 100vh;
  display: grid;
  background-color: var(--b-tertiary);
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 2% 0;
}
.ofresco-m {
  display: none;
}
.about-me-content .p-response {
  margin: 5% 25% 8% 0;
}
.check {
  display: flex;
  flex-direction: row;
  margin: 5% 0;
}
.check img {
  width: 40px;
  height: auto;
  object-fit: contain;
  object-position: top;
  margin-right: 3%;
}

.check p {
  margin: 0 10% 0 0;
}
.about-me-imgs {
  position: relative;
}
.about-me-imgs .picture {
  position: absolute;
  height: 320px;
  width: 450px;
  object-position: center;
  object-fit: cover;
  border-radius: 24px;
  background-color: #dc1c2e;
  box-shadow: var(--b-s-card);
}
.about-me-imgs .picture:nth-child(1) {
  top: 10%;
  left: 15%;
}
.about-me-imgs .picture:nth-child(2) {
  top: 45%;
  left: 25%;
}
.about-me-imgs .picture:nth-child(3) {
  background-color: var(--b-primary);
  height: 250px;
  width: 250px;
  top: 30%;
  left: 60%;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--c-primary);
  font-size: 1.4rem;
}
/* *----------------- */
/* *CARRER SECTION */

.carrer-section {
  width: 100%;
  background-color: var(--b-quaternary);
}
.carrer-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* *----------------- */

/* *PROFILES SECTION */

.profiles-section {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background-color: var(--b-primary);
  padding-top: 5%;
}
.intro {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 7%;
  max-width: 75%;
  min-width: 50%;
  margin: auto;
  padding-left: 5%;
}
.profiles-container {
  height: 520px;
  width: 90%;
  margin: 4% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.profile {
  position: relative;
  overflow: hidden;
  max-width: 400px;
}
.profile img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}
.profile-content {
  position: absolute;
  width: 300px;
  bottom: 5%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  text-align: center;
  background-color: var(--b-primary);
  border: 1.5px solid var(--c-tertiary);
  transition: 0.5s;
}

.profile-content .title {
  margin-top: 12px;
}
.profile-content .box {
  position: absolute;
  top: 7.5px;
  right: 0;
  height: 40px;
  width: 40px;
  color: var(--b-primary);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  display: grid;
  place-items: center;
  background-color: var(--c-primary);
  transform: translateX(50%);
}
.box span {
  transform: scaleX(1.8);
}
.border-t-sText {
  border-top: 1.5px solid var(--c-f-subtitle);
}

.profile-description {
  overflow: hidden;
  height: 0px;
  width: 75%;
  padding: 0 5%;
  margin: auto;
  transition: 0.4s;
  border-top: 0px solid var(--c-f-subtitle);
}
.profile-description p {
  display: block;
  margin-top: 0;
}
.profile:hover .profile-description {
  height: 180px;
  padding: 5% 5%;
  border-top: 1.2px solid var(--c-f-subtitle);
}

/* *----------------- */

/* *REQUIREMENTS SECTION */
.requirements-section {
  padding: 2% 0 4%;
}
.requirements-container {
  max-width: 75%;
  min-width: 50%;
  margin: 0 auto;
  padding-left: 4%;
}
.requirements {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
.requirements .check {
  margin: 0;
}
.requirements .text {
  color: var(--b-primary);
}
/* *----------------- */

/* *TESTIMONIALS SECTION */
.testimonials-section {
  min-height: 50vh;
}
.testimonials-section .intro {
  margin-top: 3%;
}
.t-cards-container {
  height: 300px;
  width: fit-content;
  margin: 3% auto;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 70px;
}
.t-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.t-card img {
  overflow: hidden;
  height: 120px;
  width: 120px;
  margin: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  background-color: #003da5;
}
.t-card h3 {
  font-size: 1.4em;
  color: var(--c-f-navc);
}
/* *----------------- */

/* *FORM SECTION */
.form-section {
  min-height: 60vh;
  width: 75%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 530px 1fr;
  gap: 70px;
}
.form-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.form-title-container h1 {
  margin-top: -5%;
}
.red-line {
  height: 10px;
  width: 11em;
  margin-top: 5%;
  background-color: var(--c-tertiary);
}

.contact-form {
  border: 1px solid var(--c-primary);
  width: 100%;
  padding: 7%;
  display: flex;
  flex-direction: column;
}
.contact-form input {
  height: 60px;
  width: 95%;
  margin: 2% 0;
  background-color: var(--b-tertiary);
  outline: none;
  border: none;
  padding-left: 5%;
  font-size: 18px;
}
.stuffed {
  min-height: 30px;
  flex-grow: 1;
}
.contact-form input::placeholder {
  color: var(--c-f-form);
}
.contact-form .submit-btn {
  width: 100%;
  height: 60px;
  background-color: var(--c-tertiary);
  color: var(--b-primary);
  border: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: lighter;
  cursor: pointer;
}

/* *----------------- */

/* *ARTICLES SECTION */
.articles-section {
  min-height: 60vh;
  background-color: var(--b-tertiary);
  padding-bottom: 10%;
}
.a-cards-container {
  width: 95%;
  margin: 3% auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.a-card {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: var(--b-s-card);
  text-align: center;
  background-color: var(--b-primary);
}
.a-card img {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
.a-card .title-article-container {
  margin-top: -10px;
  padding: 1% 0;
}
.a-card p {
  padding: 5% 10%;
}
/* *----------------- */

/* *VIDEOS SECTION */
.videos-section {
  background-color: var(--b-primary);
}
.videos-container {
  width: 100%;
  min-height: 400px;
  margin: 3% 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.video iframe {
  width: 100%;
  height: 100%;
}
/* *----------------- */

/* *NEWS SECTION */
.news-section {
  background-color: var(--b-primary);
}
.news-container {
  width: 80%;
  min-height: 400px;
  margin: 3% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}
.n-card {
  min-width: 200px;
  border-radius: 16px;
  box-shadow: var(--b-s-card);
  background-color: var(--b-primary);
  overflow: hidden;
}
.n-card img {
  height: 250px;
  width: 100%;
  object-fit: fill;
}
.n-card-content {
  padding: 5% 10% 3%;
}
.n-card-content .details {
  color: var(--c-f-navc);
  display: flex;
  align-items: baseline;
}
.n-card-content .detail {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  align-items: baseline;
}
.n-card-content .detail:nth-child(1) {
  margin-right: 30px;
}
.c-tertiary {
  color: var(--c-tertiary);
}
.icon {
  font-size: 1.3em;
  margin-right: 5px;
}
.n-card-content h3 {
  font-size: 1.3em;
}
.n-card-content h3,
.n-card-content h4 {
  color: var(--c-f-navc);
}
/* *----------------- */

/* *OFFER SECTION */
.offer-section {
  width: 100%;
  height: 100vh;
  margin: 10% 0 40px;
  display: grid;
  grid-template-columns: 48% 1fr;
}
.offer-img-container {
  position: relative;
}
.offer-img-container img {
  height: 110vh;
  z-index: 10;
  width: auto;
  object-fit: cover;
  position: absolute;
  bottom: -40px;
  right: -220px;
}
.offer-title-container {
  position: relative;
  z-index: 1;
}
.offer-title-container h1 {
  font-family: var(--f-title);
  font-size: 5.5em;
  margin: 20% 0 0 10%;
}
.btn-wsp {
  position: absolute;
  right: 10%;
  left: 30%;
  bottom: 20%;
  background-color: var(--b-primary);
  height: 80px;
  text-align: center;
  text-decoration: none;
  display: grid;
  place-items: center;
}
.btn-wsp h2 {
  color: var(--c-primary) !important;
}
.line-title-offer {
  position: absolute;
  width: 180px;
  height: 15px;
  top: 44%;
  left: 58%;
  background-color: var(--c-tertiary);
}
/* *----------------- */

/* *FOOTER */
footer {
  min-height: 209px;
  background-color: var(--c-secondary);
  padding: 5%;
  color: var(--b-primary) !important;
}
.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-title {
  font-size: 4em;
}
.redes h3 {
  font-weight: 100;
}
.icons-redes-container {
  display: flex;
}
.icons-redes-container .icon-container {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5%;
  display: grid;
  place-items: center;
  margin-top: 5%;
  background-color: var(--b-primary);
  color: var(--c-secondary);
  font-size: 1.2em;
}

.info-container {
  margin-left: 20%;
  margin-top: 10%;
}
.info-container h1 {
  text-transform: uppercase;
  font-size: 1.6em;
  margin-bottom: 10%;
}
.info {
  margin: 10% 0;
  display: flex;
}
.info svg {
  margin-right: 20px;
  text-align: left;
}
.info-details {
  display: flex;
  flex-direction: column;
  font-weight: 100;
}
.logo-footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer-container img {
  height: 140px;
  width: auto;
  object-fit: cover;
  object-position: center;
}
.logo-footer-direction {
  border: 2px solid var(--b-primary);
  padding: 1% 3%;
  font-size: 1.2em;
  margin-top: 4%;
}

.created-by {
  text-align: center;
}
.created-by h2 {
  font-size: 1.2em;
  font-weight: 100;
  color: var(--c-f-navc);
}
.created-by a {
  text-decoration: none;
  color: var(--c-f-navc);
}
/* *----------------- */
@media (max-width: 1200px) {
  .logo-footer-content img {
    height: 100px;
  }
}
/* *SCREEN 720p */
@media (max-width: 780px) {
  /* *GENERAL STYLES */
  .principal-title {
    display: block;
    margin-bottom: -0.3em;
    font-size: 2.2em;
    line-height: 0.9em;
  }
  .title-container-dash {
    display: flex;
    flex-direction: column-reverse;
  }
  .title-container-dash span {
    margin: -1em 0 0.1em;
    font-size: 2em;
  }
  .title-container-subline h1 {
    display: block;
    margin: 10% 0;
  }
  .title-container-subline span {
    margin: -1em 0 0.1em;
  }

  h1.title,
  h2.title {
    text-transform: uppercase;
    color: var(--c-f-navc);
    font-weight: lighter;
  }
  h1.title {
    font-size: 1.5rem;
  }
  h2.title {
    font-size: 1.1rem;
  }
  p.text {
    color: var(--c-f-subtitle);
    font-size: 0.9rem;
    line-height: 1rem;
  }
  /* *----------------- */

  /* *SLIDESHOW */
  .slideshow-container {
    max-width: 96%;
    position: relative;
    margin: auto;
    height: 330px;
    overflow: hidden;
  }
  .slideshow-container.articles {
    max-width: 720px;
    height: auto;
    margin: auto;
  }

  .mySlides {
    position: relative;
    display: none;
    height: 330px;
  }
  .mySlidesA {
    position: relative;
    display: none;
    height: auto;
    padding-bottom: 0px;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    top: 35%;
  }
  .prev svg,
  .next svg {
    width: 2em;
  }
  .prev {
    left: 0%;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0%;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: whitesmoke;
  }
  .prev:active svg,
  .next:active svg {
    transition: 0.2s;
    transform: scale(0.9);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* The dots/bullets/indicators */
  .dotA {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--b-primary);
    border-radius: 50%;
    border: 1px solid var(--c-primary);
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dotA:hover {
    background-color: var(--c-tertiary);
    border: 1px solid var(--c-tertiary);
    height: 18px;
    width: 18px;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
  /* *----------------- */

  /* *NAV SECTION M */
  nav {
    width: calc(100vw - 6%);
    padding: 0 4% 0 2%;
    height: 63px;
  }
  nav .logo {
    height: 80%;
  }
  .nav-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    right: 4%;
    min-width: fit-content;
    height: auto;
    background-color: var(--b-primary);
    padding: 0 4%;
    box-shadow: var(--b-s-card);
    border-radius: 7px;
    transition: 5s;
  }
  .nav-options a {
    margin: 5%;
  }
  .nav-options-m {
    display: flex;
    border-radius: 50%;
    padding: 3%;
    text-align: center;
  }
  .nav-options-m:hover {
    background-color: var(--b-quaternary);
  }
  .nav-options.hide {
    transition: 0.5s;
    overflow: hidden;
    height: 0px;
    width: 0px;
  }
  .times-icon {
    font-size: 25px;
    width: 25px;
    height: 25px;
    color: var(--c-primary);
  }
  .nav-icon.hide {
    display: none;
  }
  .times-icon.hide {
    display: none;
    background-color: #0a3fa5;
  }
  /* *----------------- */

  /* *PRIMARY-SECTION */
  .primary-section {
    margin-top: 4.5vh;
    min-height: 350px;
    grid-template-columns: 45vw 1fr;
  }
  .img-container {
    position: relative;
  }
  .img-container img {
    height: 300px;
    width: auto;
  }
  .title-container .principal-title {
    margin-top: 40%;
  }
  .subtitle {
    margin-top: 1.2em;
    font-size: 0.6em;
  }
  .logos-container {
    max-width: 300px;
    margin: 3% 0;
  }
  .viviana-logo {
    width: 35vw;
  }
  .remax-logo {
    width: 20vw;
  }
  @keyframes init {
    0% {
      opacity: 0;
      right: 0px;
    }
    100% {
      opacity: 1;
      right: -15vw;
    }
  }
  /* *----------------- */

  /* *ABOUT ME SECTION*/
  .about-me-section {
    min-height: 10vh;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 3% 0;
  }
  .ofresco-m {
    display: block;
  }
  .about-me-content .p-response {
    margin: 0 10%;
  }
  .ofresco {
    display: none;
  }
  .check {
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
  }
  .check img {
    width: 30px;
    height: auto;
    object-fit: contain;
    object-position: top;
    margin-right: 2%;
  }

  .check p {
    margin: 0;
  }
  .about-me-imgs {
    margin-top: 5%;
    position: relative;
    height: 55vw;
  }
  .about-me-imgs .picture {
    height: 30vw;
    width: 50vw;
  }
  .about-me-imgs .picture:nth-child(1) {
    top: 10%;
    left: 15%;
  }
  .about-me-imgs .picture:nth-child(2) {
    top: 30%;
    left: 25%;
  }
  .about-me-imgs .picture:nth-child(3) {
    height: 35vw;
    width: 35vw;
    top: 20%;
    left: 57%;
    color: var(--c-primary);
    font-size: 0.9rem;
  }
  /* *----------------- */
  /* *CARRER SECTION */

  /* *----------------- */

  /* *PROFILES SECTION */

  .profiles-section {
    position: relative;
    min-height: 100vh;
    background-color: var(--b-primary);
    padding-top: 5%;
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 0;
    max-width: 80%;
    margin: auto;
    padding-left: 0;
    text-align: center;
  }
  .profiles-container {
    width: 90%;
    margin: 4% auto;
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    gap: 70px;
  }
  .profile {
    height: 60vh;
    margin: 0 none;
    position: relative;
    overflow: hidden;
  }
  .profile img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
  }
  .profile-content {
    position: absolute;
    width: 80%;
    bottom: 5%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    text-align: center;
    background-color: var(--b-primary);
    border: 1.5px solid var(--c-tertiary);
    transition: 0.5s;
  }

  .profile-content .title {
    margin-top: 12px;
  }
  .profile-content .box {
    top: 5px;
  }
  .profile:hover .profile-description {
    height: 80px;
  }

  /* *----------------- */

  /* *REQUIREMENTS SECTION */
  .requirements-section {
    padding: 4% 0;
    text-align: center;
  }
  .requirements-container {
    max-width: 85%;
    min-width: 50%;
    margin: 0 auto;
    padding-left: 0;
  }
  .requirements {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  .requirements .check {
    text-align: left;
    margin: 5% 0;
  }
  .requirements .text {
    color: var(--b-primary);
  }
  /* *----------------- */

  /* *TESTIMONIALS SECTION */
  .testimonials-section {
    min-height: 0vh;
  }
  .testimonials-section .intro {
    margin-top: 3%;
  }
  .t-cards-container {
    height: 300px;
    width: auto;
    margin: 3% 0;
    display: grid;
    grid-template-columns: repeat(3, 70vw);
    gap: 100px;
    padding-left: 5vw;
  }
  .t-cards-container {
    margin-left: 8%;
  }
  /* *----------------- */

  /* *FORM SECTION */
  .form-section {
    grid-template-columns: 1fr;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
    padding: 3% 0 10%;
  }
  .form-title-container {
    align-items: center;
  }
  .form-title-container h1 {
    margin-top: -5%;
    font-size: 3em;
  }
  .red-line {
    align-items: flex-end;
    text-align: right;
    width: 8em;
  }

  .contact-form {
    width: 83%;
    padding: 7%;
  }
  /* *----------------- */

  /* *ARTICLES SECTION */
  .articles-section {
    min-height: 0vh;
    background-color: var(--b-tertiary);
  }
  .a-cards-container {
    width: auto;
    overflow: hidden;
    margin: 3% auto 5%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 500px;
    height: 470px;
  }
  .a-card {
    min-width: 180px;
    max-width: 400px;
    padding-bottom: 3%;
    max-height: 450px;
    margin: auto 5%;
  }
  .a-card img {
    width: 100%;
    height: 250px;
    object-fit: fill;
  }
  /* *----------------- */

  /* *VIDEOS SECTION */
  .videos-container {
    grid-template-columns: 1fr;
  }
  .video iframe {
    width: 100%;
    height: 100%;
  }
  /* *----------------- */

  /* *NEWS SECTION */
  .news-container {
    grid-template-columns: 1fr;
  }
  .n-card {
    max-width: 400px;
    margin: auto;
  }
  .n-card .detail span:nth-child(2) {
    font-size: 0.8em;
  }
  /* *----------------- */

  /* *OFFER SECTION */
  .offer-section {
    width: 100%;
    height: 200px;
    margin: 250px 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .offer-img-container {
    position: relative;
  }
  .offer-img-container img {
    height: auto;
    width: 80vw;
    max-width: 400px;
    object-fit: cover;
    position: absolute;
    bottom: -100px;
    right: 44vw;
    z-index: 1;
  }
  .offer-title-container {
    overflow: visible;
    height: 100px;
    position: relative;
    z-index: 0;
  }
  .offer-title-container h1 {
    position: absolute;
    top: -30vw;
    left: 50vw;
    font-size: 1.5em;
    margin: 0;
    color: var(--c-primary) !important;
  }
  .line-title-offer {
    position: absolute;
    width: 70px;
    height: 5px;
    top: -10vw;
    left: none;
    right: 0;
  }
  .btn-wsp {
    position: absolute;
    right: 2%;
    left: inherit;
    bottom: 20%;
    width: 170px;
    height: 30px;
  }
  .btn-wsp h2 {
    color: var(--c-primary) !important;
    display: block;
    margin: 0;
    font-size: 0.6em;
  }
  /* *----------------- */

  /* *FOOTER */
  footer {
    min-height: 209px;
    background-color: var(--c-secondary);
    padding: 5%;
    color: var(--b-primary) !important;
  }
  .footer-container {
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-title {
    font-size: 2.2em;
  }
  .footer-title br {
    display: none;
  }
  .redes h3 {
    font-weight: 100;
  }
  .icons-redes-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    justify-content: space-around;
  }

  .info-container {
    margin-left: 0%;
    margin-top: 10%;
  }
  .info-container h1 {
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 10%;
  }
  .info {
    width: fit-content;
    margin: 10% auto;
    display: flex;
  }
  .info svg {
    margin-right: 10px;
    text-align: left;
    height: 2em;
  }
  .info-details {
    display: flex;
    flex-direction: column;
    font-weight: 100;
  }
  .logo-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer-container img {
    height: 100px;
    width: auto;
    object-fit: cover;
    object-position: center;
  }
  .logo-footer-direction {
    border: 2px solid var(--b-primary);
    padding: 1% 3%;
    font-size: 1.2em;
    margin-top: 4%;
  }

  .created-by {
    text-align: center;
  }
  .created-by h2 {
    font-size: 1.2em;
    font-weight: 100;
    color: var(--c-f-navc);
  }
  .created-by a {
    text-decoration: none;
    color: var(--c-f-navc);
  }
  /* *----------------- */
}
/* *Screnn 720----------------- */
